<!-- Bottom Navigation -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <h6 class="display-6 navbar-text">&copy; Copyright 2023. Developed and maintained by MR Hossain.</h6>
    </nav>
  </footer>